/* selektor znacznika */

p {
    color: orange;
}

/* selektor id */

#paragraph {
    color: blue;
}

/* selektor klasy */

.klasa {
    color: red
}

/* Łączenie selektorów */

a, span, div {
    color: green;
}

/* selektor bezpośredniego elementu potomnego */
li > a {
    color: yellow;
}

/* selektor elementów potomnych */

div a {
    color: blueviolet;
}

/* selektor bliskiego  rodzeństwa */
h2 + h3 {
    color: cadetblue;
}

/* selektor rodzeństwa */
h4 ~ p {
    color: chocolate;
}

/* selektor wykluczający */
ul > li:not(.last) {
    color: aqua;
}